@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans:wght@300;400;500&family=Roboto+Slab:wght@500&family=Silkscreen&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(70, 70, 70);
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Lora";
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Lora";
  margin-bottom: 0.3rem;
  font-weight: 600;
  /* font-weight: 500; */
}

h3 {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
}

h4 {
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
}

h5 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic;
}

h6 {
  font-family: "Open Sans";
  font-size: 0.7rem;
  font-weight: 400;
}

p {
  font-family: "Open Sans";
  font-size: 0.7rem;
}

li {
  font-family: "Open Sans";
  font-size: 0.7rem;
}

i {
  color: rgb(200, 200, 200);
  font-size: 0.7rem;
  width: 0.7rem;
}

.thin {
  font-weight: 400;
  /* font-style: italic; */
}

.page {
  /* border: red 1px dashed; */
  width: 850px;
  background-color: white;
  margin: 2rem auto;
  margin: auto;
  display: grid;
  grid-template-areas:
    "contact experience"
    "info experience";
  /* grid-template-columns: 1fr 2fr; */
  grid-template-rows: 1fr 4fr;
}

.contact {
  grid-area: contact;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: rgb(51, 51, 51);
  color: white;
}

.contact-links {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-link i {
  margin-top: 2px;
}

.contact-link h6 {
  font-weight: 500;
}

.info {
  grid-area: info;
  padding: 1.5rem;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.education-link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.skill {
  margin-left: 0.8rem;
}

.experience {
  grid-area: experience;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.career {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.job-link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.job-title {
  display: flex;
  /* gap: 4rem; */
  /* justify-content: space-between; */
}

.w100 {
  width: 150px;
}

.job {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.job-point {
  margin-left: 1.4rem;
}

.margin-right {
  width: 12rem;
}

.center {
  text-align: center;
}
